LOTTIE_INFORMATION RCDATA "..\Animations\information.json"
LOTTIE_CUSTOM RCDATA "..\Animations\custom.json"
LOTTIE_ERROR RCDATA "..\Animations\error.json"
LOTTIE_WARNING RCDATA "..\Animations\warning.json"
LOTTIE_SHIELD RCDATA "..\Animations\shield.json"
LOTTIE_NOTIFY RCDATA "..\Animations\notify.json"
LOTTIE_QUESTION RCDATA "..\Animations\question.json"