STYLEDTASKLOTTIE_INFORMATION RCDATA "..\Animations\information.json"
STYLEDTASKLOTTIE_CUSTOM RCDATA "..\Animations\custom.json"
STYLEDTASKLOTTIE_ERROR RCDATA "..\Animations\error.json"
STYLEDTASKLOTTIE_WARNING RCDATA "..\Animations\warning.json"
STYLEDTASKLOTTIE_SHIELD RCDATA "..\Animations\shield.json"
STYLEDTASKLOTTIE_NOTIFY RCDATA "..\Animations\notify.json"
STYLEDTASKLOTTIE_QUESTION RCDATA "..\Animations\question.json"